.game-col{
 border: 1px solid;
    width: 100px;
    height: 100px;
}
.game-row{
 max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
   
}

.game-board{
  padding: 100px;
}